.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px; /* Espacio entre las cards */
}

.card img {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: cover; /* Ajusta la imagen para que cubra el contenedor */
}

